---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Card />
	</main>
</Layout>

<style>
	main {
		display: grid;
        justify-content: center;
        justify-items: center;
	}
</style>
