---
---

<div class="card">
    <div class="qr">
        <img src="/images/image-qr-code.png" alt="QR Code" />
    </div>
    <div class="text">
        <strong>Improve your front-end skills by building projects</strong>
        <p>Scan the QR code to visit Frontend Mentor take your coding skills to the next level</p>
    </div>
</div>

<style>
    .card {
        font-family: "Outfit";
        font-weight: 400;
        font-size: 15px;
        background-color: var(--white);
        border-radius: 10px;
        width: 50%;
    }
    .text {
        font-family: Outfit;
        text-align: center;
        padding: 0px 30px 20px;
    }
    .qr {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 1rem 1rem;        
    }
    strong {
        color: var(--dark-blue);
        font-size: 20px;
        font-weight: 700;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        color: var(--grayish-blue);
    }


    img {
        width: 100%;
        border-radius: 10px;
            
    }


    @media (max-width: 768px) {
        .card {
            width: 80%;
        }
    }
</style>
