---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--white: hsl(0, 0%, 100%);
		--light-gray: hsl(212, 45%, 89%);
		--grayish-blue: hsl(220, 15%, 55%);
		--dark-blue: hsl(218, 44%, 22%);
		@font-face {
			font-family: Outfit;
			src: url('/fonts/Outfit.ttf');
		}
	}
	html {
		height: 100%;
		font-family: "Outfit", system-ui, sans-serif;
		background-size: 224px;
	}
	body {
		display: grid;
		justify-content: center;
		align-content: center;
		justify-items: center;
		background-color: var(--light-gray);
		height: 100%;
	}
</style>
